<p id="notice"><%= notice %></p>

<p>
  <strong>Country:</strong>
  <%= @trend.country %>
</p>

<p>
  <strong>Product:</strong>
  <%= @trend.product %>
</p>

<p>
  <strong>Strength:</strong>
  <%= @trend.strength %>
</p>

<p>
  <strong>Marketshare:</strong>
  <%= @trend.marketshare %>
</p>

<p>
  <strong>Volume:</strong>
  <%= @trend.volume %>
</p>

<p>
  <strong>Dashboard:</strong>
  <%= @trend.dashboard %>
</p>

<%= link_to 'Edit', edit_trend_path(@trend) %> |
<%= link_to 'Back', trends_path %>
